<style>
.flex-container {
    display: flex;
    background-color: white;
  }
  .flex-item {
    background-color: white;
    width: 400px;
    margin: 10px;
    text-align: center;
    line-height: 30px;
    font-size: 20px;
  }

  /* Dropdown Button */
.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  /*position: relative;*/
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

#t01 {
  border: 2px solid #555 !important;
  border-collapse: collapse !important;
  font: 12px "Lucida Grande", "Helvetica", "Arial", sans-serif !important;
}

.survey-results {
  display: none;
}

.problematicsurvey-results {
  display: block;
}

.survey-result {
  margin: 10px;
  padding: 10px;
  border: 2px solid gray;
}
</style>

<h1>Team Evaluation Results: </h1>  
<p>Please select a student within a team listed to view the member's scores within the specified team. </p>
<div class="flex-container">
  <% @data.each do |team_id, team| %>
  <div class="flex-item">  
        <div class="dropdown">
        <button onclick=<%= "open_dropdown(" + team_id.to_s + ")"%> class="dropbtn"> <%= team[:name] %> </button>
        <div id=<%= "dropdown_" + team_id.to_s %> class="dropdown-content">
          <% team[:students].each do |student_id, student| %>
            <a onclick=<%="display_surveys("+team_id.to_s+","+student_id.to_s+")"%>> <%= student[:name] %> </a>
          <% end %>
        </div>
        </div>

        <pre>    
          <p>Selected Team: <span id="selected_team"></span></p>
          <p>Selected Student: <span id="selected_student"></span></p>
        </pre>

          <% @data.each do |team_id, team| %>
              <% team[:students].each do |student_id, student| %>

                <div class="survey-results" id=<%="survey_results_"+team_id.to_s+"_"+student_id.to_s%>>

                <% student[:survey_results].each do |survey_result| %>

                  <div class="survey-result">
                    <p>Project name: <%= survey_result[:project_name] %></p>
                    <p>Rating given to self: <%= survey_result[:score_for_self] %></p>
                    <p>Rating given by team members (average): <%= survey_result[:average_score_from_teammates] %></p>
                    <p>Comments from team members:</p>
                    <ul>
                      <% survey_result[:comments].each do |comment|%>
                        <li><%= comment %></li>
                      <% end %>
                    </ul>
                  </div>

                <% end %>

                </div>
              <% end %>
          <% end %>
  </div>
  <% end %>
  <div class="flex-item"> 
    <h1 style="font-size:18px"> Problematic Students:  </h1>
      <% @data.each do |team_id, team| %>
          <% team[:students].each do |student_id, student| %>
            <div class="problematicsurvey-results" id=<%="survey_results_"+team_id.to_s+"_"+student_id.to_s%>>
            <% student[:survey_results].each do |survey_result| %>
              <% if survey_result[:average_score_from_teammates] <= 6%>
                <div class="survey-result">
                  <p>Project name: <%= survey_result[:project_name] %></p>
                  <p>Rating given to self: <%= survey_result[:score_for_self] %></p>
                  <p>Rating given by team members (average): <%= survey_result[:average_score_from_teammates] %></p>
                  <p>Comments from team members:</p>
                  <ul>
                    <% survey_result[:comments].each do |comment|%>
                      <li><%= comment %></li>
                    <% end %>
                  </ul>
                </div>
              <% end %>
            <% end %>
            </div>
          <% end %>
      <% end %> 
  </div>
</div>

<script>
var data = JSON.parse('<%= @data.to_json %>'.replace(/&quot;/g,'"'));

function open_dropdown(team_id) {
  document.getElementById("dropdown_" + team_id).classList.toggle("show");
}

function display_surveys(team_id, student_id) {
  for (e of document.getElementsByClassName("survey-results")) {
    e.style = "display:none;"
  }
  document.getElementById("survey_results_"+team_id+"_"+student_id).style = "display:block;";

  document.getElementById("selected_team").innerHTML = data[team_id].name;
  document.getElementById("selected_student").innerHTML = data[team_id].students[student_id].name;
}

window.onclick = function(event) {
  if (!event.target.matches('.dropbtn')) {
    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i=0; i<dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}
</script>