<% if user_signed_in? && current_user.student %>
  <p>Please select a project to complete an evaluation for below:</p>
  
  <table border="1">

    <tr>
      <th scope="col"> Class Name </th>      
      <th scope="col"> Team Name </th>      
      <th scope="col"> Project Name </th>
      <th scope="col"> Actions </th>
      <th scope="col"> Due </th>
    </tr>

    <% @student_projects.each do |row|%>
      <tr>
        <td><%= row[:class_name] %></td>
        <td><%= row[:team_name] %></td>
        <td><%= row[:project_name] %></td>
        <td>
          <% if row[:action_link] %>
            <a href="<%= row[:action_link] %>"><%= row[:action_text] %></a>
          <% else %>
            <%= row[:action_text] %>
          <% end %>
        </td>
        <td><%= row[:due] %></td>
      </tr>
    <% end %>

  </table>
<% elsif user_signed_in? && current_user.instructor %>
  <% if $selected_course %>
    <p>Here are all the projects assigned to teams in the course '<%= $selected_course.name %>':</p>
    
    <table border="1">

      <tr> 
        <th scope="col"> Project Name </th>
        <th scope="col"> Teams Assigned </th>      
        <th scope="col"> Due </th>
      </tr>

      <% @course_projects.each do |row|%>
        <tr>
          <td><%= row[:project_name] %></td>
          <td><%=row[:team_names]%></td>
          <td><%= row[:due] %></td>
        </tr>
      <% end %>

    </table>
  <% else %>
    <p>Select a course to manage:</p>
    
    <ul>
      <% @courses.each do |course|%>
        <li><a href=<%= '/course?id='+course[:id].to_s %>><%= course[:name] %></a></li>
      <% end %>
    </ul>

    <br>
    <p>Add a course to manage:</p>
    <textarea spellcheck="false" rows="5" cols="50" onkeyup="set_text(this)"></textarea>
    <button onclick="post_courses()" data-inline = "true" >Submit</button>
  <% end %>
<% elsif user_signed_in? %>
  <p>Ask your instructors to add you to a course to complete evaluations.</p>
<% else %>
  <p>Please sign in or register to complete or create evaluations.</p>
<% end %>

<script>
var data = {
  text: null
};

function set_text(e, i){
    data.text = e.value;
}

async function post_courses() {
    const res = await fetch('/courses', {method: "POST", body: JSON.stringify(data), headers: {'Content-Type':'application/json'}});
    if (res.ok) {
      window.location.replace("/courses");
    } else {
      alert('Courses upload failed, please check formatting and try again.')
    }
}
</script>
