<!DOCTYPE html>
<html lang= "en">
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <meta charset= "UTF-8">
  <title> Homepage </title>
  <style> 
    p {
     margin: 25px;
    }
    table {
     margin: 25px;
    }
    img {
      margin: 25px;
    }
  </style>
</head>
<body>
  <%= image_tag "logo.jpeg" %>

  <% if user_signed_in? && current_user.student %>
    <p>Please select a project to complete an evaluation for below:</p>
    
    <table border="1">

      <tr>
        <th scope="col"> Class Name </th>      
        <th scope="col"> Team Name </th>      
        <th scope="col"> Project Name </th>
        <th scope="col"> Actions </th>
        <th scope="col"> Due </th>
      </tr>

      <% @student_projects.each do |row|%>
        <tr>
          <td><%= row[:class_name] %></td>
          <td><%= row[:team_name] %></td>
          <td><%= row[:project_name] %></td>
          <td>
            <% if row[:action_link] %>
              <a href="<%= row[:action_link] %>"><%= row[:action_text] %></a>
            <% else %>
              <%= row[:action_text] %>
            <% end %>
          </td>
          <td><%= row[:due] %></td>
        </tr>
      <% end %>

    </table>
  <% elsif user_signed_in? && current_user.instructor %>
    <% if $selected_course %>
      <p>Here are all the projects assigned to teams in the course <% $selected_course.name %>:</p>
      
      <table border="1">

        <tr> 
          <th scope="col"> Project Name </th>
          <th scope="col"> Teams Assigned </th>      
          <th scope="col"> Due </th>
        </tr>

        <% @course_projects.each do |row|%>
          <tr>
            <td><%= row[:project_name] %></td>
            <td><%=row[:team_names]%></td>
            <td><%= row[:due] %></td>
          </tr>
        <% end %>

      </table>
    <% else %>
      <p>Select a course to manage:</p>
      
      <ul>
        <% @courses.each do |course|%>
          <li><a href=<%= '/course?id='+course[:id].to_s %>><%= course[:name] %></a></li>
        <% end %>
      </ul>
    <% end %>
  <% else %>
    <p>Please sign in or register to complete or create evalutations.</p>
    <%= @current_user %>
  <% end %>

</body>
</html>